/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 4, 2022, 10:57:18 AM
    Author     : Aashish Katwal
*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

a, button{
    color: rgba(255, 255, 255, .7);
}

a:hover, button:hover{
    color: rgba(255, 255, 255, .9);
}

header{
    background-color: rgba(02, 00, 02, .95);
    letter-spacing: 1px;
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1rem 1.3rem;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    height: 40px;
    width: 40px;
}

nav.right-nav li:first-child{
    margin-right: 20px;
}

nav.right-nav li:last-child button{
    padding: .3rem .7rem;
    font-size: 1rem;
    background-color: #02aa2F;
    border-radius: 4px;
    cursor: pointer;
}

nav.left-nav li:last-child{
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

.main{
    background-color: rgba(02, 00, 02, .95);
    color: #fff;
}

.main-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5.3rem 1.3rem;
}

.form-container{
    margin-right: 50px;
}

.title-text{
    font-size: 2.25rem;
    line-height: 2.25rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.leading-txt{
    margin-bottom: 1.75rem;
}

.leading-txt, label{
    color: rgb(156, 163, 175);
    line-height: 1.75rem;
}

form{
    display: flex;
    align-items: flex-end;
}

.input-fields{
    width: 100%;
    margin-right: 10px;
}

.url-input{
    background-color: #161e2d;
    color: #fff;
    width: 100%;
    padding: 1px 10px;
    font-size: 1.05rem;
    letter-spacing: .5px;
    line-height: 2rem;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    border: 1px solid #374151;
}

input[type="submit"]{
    background-color: #02aa2F;
    padding: 0.2rem 1.1rem; 
    font-size: 1.1rem;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.showcase{
    max-height: 25rem;
}

/*Result Images*/ 

.result-section{
    background-color: #f2f2f2;
}

.result-title{
    text-align: center;
    padding: 1.5rem;
}

.show-result{
    display: flex;
    flex-wrap: wrap;
}

.image-wrapper{
    background-color: #fff;
    margin-left: 20px;    
    margin-bottom: 30px;    
    padding: 1.5rem 1rem;
    border-radius: 6px;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: .2s;
}

.image-wrapper:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
}

.image img{
    height: 13rem;
    width: 13rem;
    overflow: hidden;
    border-radius: 10px;
    object-fit: contain;
}

.details{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-top: .5rem;
    border-top: 1px solid rgba(0,0,0,0.4);
    color: #000;
}

.details i{
    color: #000;
}

/*Footer*/
.f-wrapper{
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.footer-text{
    color: #000;
    margin-left: 10px;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;
}

.v-bar{
    font-size: 2rem;
    margin-right: 10px;
    color: rgba(0, 0, 0, .4);
}

.myname{
    font-size: .8rem;
    color: rgba(0, 0, 0, .4);
}

.fab{
    color: #000;
    font-size: 1.2rem;
    border-radius: 50%;
    color: rgba(0,0,0,0.7);
}

.social-icons:not(:first-child){
    margin-left: 10px;
}